--
-- PostgreSQL database dump
--

\restrict jMEnFiLsMgzBmirG9svZorDx6KazV5jxgfsXFM6XTUpMpfq4NVw68wKiQEiFr9Q

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."UserSettings" DROP CONSTRAINT IF EXISTS "UserSettings_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."UserAchievement" DROP CONSTRAINT IF EXISTS "UserAchievement_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."UserAchievement" DROP CONSTRAINT IF EXISTS "UserAchievement_achievementId_fkey";
ALTER TABLE IF EXISTS ONLY public."Subscription" DROP CONSTRAINT IF EXISTS "Subscription_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Subscription" DROP CONSTRAINT IF EXISTS "Subscription_planId_fkey";
ALTER TABLE IF EXISTS ONLY public."StudyLog" DROP CONSTRAINT IF EXISTS "StudyLog_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."StudyGroup" DROP CONSTRAINT IF EXISTS "StudyGroup_createdById_fkey";
ALTER TABLE IF EXISTS ONLY public."Scholarship" DROP CONSTRAINT IF EXISTS "Scholarship_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Resume" DROP CONSTRAINT IF EXISTS "Resume_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Resource" DROP CONSTRAINT IF EXISTS "Resource_contributorId_fkey";
ALTER TABLE IF EXISTS ONLY public."ResourceReview" DROP CONSTRAINT IF EXISTS "ResourceReview_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."ResourceReview" DROP CONSTRAINT IF EXISTS "ResourceReview_resourceId_fkey";
ALTER TABLE IF EXISTS ONLY public."ResourceFavorite" DROP CONSTRAINT IF EXISTS "ResourceFavorite_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."ResourceFavorite" DROP CONSTRAINT IF EXISTS "ResourceFavorite_resourceId_fkey";
ALTER TABLE IF EXISTS ONLY public."Purchase" DROP CONSTRAINT IF EXISTS "Purchase_resourceId_fkey";
ALTER TABLE IF EXISTS ONLY public."Purchase" DROP CONSTRAINT IF EXISTS "Purchase_buyerId_fkey";
ALTER TABLE IF EXISTS ONLY public."Notification" DROP CONSTRAINT IF EXISTS "Notification_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."MentorshipRequest" DROP CONSTRAINT IF EXISTS "MentorshipRequest_mentorId_fkey";
ALTER TABLE IF EXISTS ONLY public."MentorshipRequest" DROP CONSTRAINT IF EXISTS "MentorshipRequest_menteeId_fkey";
ALTER TABLE IF EXISTS ONLY public."MentorProfile" DROP CONSTRAINT IF EXISTS "MentorProfile_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Job" DROP CONSTRAINT IF EXISTS "Job_companyId_fkey";
ALTER TABLE IF EXISTS ONLY public."GroupMessage" DROP CONSTRAINT IF EXISTS "GroupMessage_senderId_fkey";
ALTER TABLE IF EXISTS ONLY public."GroupMessage" DROP CONSTRAINT IF EXISTS "GroupMessage_groupId_fkey";
ALTER TABLE IF EXISTS ONLY public."GroupMember" DROP CONSTRAINT IF EXISTS "GroupMember_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."GroupMember" DROP CONSTRAINT IF EXISTS "GroupMember_groupId_fkey";
ALTER TABLE IF EXISTS ONLY public."GamificationProfile" DROP CONSTRAINT IF EXISTS "GamificationProfile_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."ForumTopic" DROP CONSTRAINT IF EXISTS "ForumTopic_boardId_fkey";
ALTER TABLE IF EXISTS ONLY public."ForumTopic" DROP CONSTRAINT IF EXISTS "ForumTopic_authorId_fkey";
ALTER TABLE IF EXISTS ONLY public."ForumSubscription" DROP CONSTRAINT IF EXISTS "ForumSubscription_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."ForumPost" DROP CONSTRAINT IF EXISTS "ForumPost_topicId_fkey";
ALTER TABLE IF EXISTS ONLY public."ForumPost" DROP CONSTRAINT IF EXISTS "ForumPost_editedById_fkey";
ALTER TABLE IF EXISTS ONLY public."ForumPost" DROP CONSTRAINT IF EXISTS "ForumPost_authorId_fkey";
ALTER TABLE IF EXISTS ONLY public."ForumNotification" DROP CONSTRAINT IF EXISTS "ForumNotification_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."ForumModerator" DROP CONSTRAINT IF EXISTS "ForumModerator_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."ForumModerator" DROP CONSTRAINT IF EXISTS "ForumModerator_boardId_fkey";
ALTER TABLE IF EXISTS ONLY public."ForumBoard" DROP CONSTRAINT IF EXISTS "ForumBoard_createdById_fkey";
ALTER TABLE IF EXISTS ONLY public."Exam" DROP CONSTRAINT IF EXISTS "Exam_createdById_fkey";
ALTER TABLE IF EXISTS ONLY public."ExamQuestion" DROP CONSTRAINT IF EXISTS "ExamQuestion_examId_fkey";
ALTER TABLE IF EXISTS ONLY public."ExamQuestion" DROP CONSTRAINT IF EXISTS "ExamQuestion_createdById_fkey";
ALTER TABLE IF EXISTS ONLY public."ExamAttempt" DROP CONSTRAINT IF EXISTS "ExamAttempt_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."ExamAttempt" DROP CONSTRAINT IF EXISTS "ExamAttempt_examId_fkey";
ALTER TABLE IF EXISTS ONLY public."ExamAnswer" DROP CONSTRAINT IF EXISTS "ExamAnswer_questionId_fkey";
ALTER TABLE IF EXISTS ONLY public."ExamAnswer" DROP CONSTRAINT IF EXISTS "ExamAnswer_attemptId_fkey";
ALTER TABLE IF EXISTS ONLY public."Enrollment" DROP CONSTRAINT IF EXISTS "Enrollment_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Enrollment" DROP CONSTRAINT IF EXISTS "Enrollment_courseId_fkey";
ALTER TABLE IF EXISTS ONLY public."EarnEvent" DROP CONSTRAINT IF EXISTS "EarnEvent_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."DirectParticipant" DROP CONSTRAINT IF EXISTS "DirectParticipant_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."DirectParticipant" DROP CONSTRAINT IF EXISTS "DirectParticipant_conversationId_fkey";
ALTER TABLE IF EXISTS ONLY public."DirectMessage" DROP CONSTRAINT IF EXISTS "DirectMessage_senderId_fkey";
ALTER TABLE IF EXISTS ONLY public."DirectMessage" DROP CONSTRAINT IF EXISTS "DirectMessage_conversationId_fkey";
ALTER TABLE IF EXISTS ONLY public."Course" DROP CONSTRAINT IF EXISTS "Course_createdById_fkey";
ALTER TABLE IF EXISTS ONLY public."CourseContent" DROP CONSTRAINT IF EXISTS "CourseContent_courseId_fkey";
ALTER TABLE IF EXISTS ONLY public."CounselorSlot" DROP CONSTRAINT IF EXISTS "CounselorSlot_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Company" DROP CONSTRAINT IF EXISTS "Company_ownerId_fkey";
ALTER TABLE IF EXISTS ONLY public."Classroom" DROP CONSTRAINT IF EXISTS "Classroom_createdById_fkey";
ALTER TABLE IF EXISTS ONLY public."ClassroomParticipant" DROP CONSTRAINT IF EXISTS "ClassroomParticipant_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."ClassroomParticipant" DROP CONSTRAINT IF EXISTS "ClassroomParticipant_classroomId_fkey";
ALTER TABLE IF EXISTS ONLY public."Certificate" DROP CONSTRAINT IF EXISTS "Certificate_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Certificate" DROP CONSTRAINT IF EXISTS "Certificate_templateId_fkey";
ALTER TABLE IF EXISTS ONLY public."BreakoutRoom" DROP CONSTRAINT IF EXISTS "BreakoutRoom_classroomId_fkey";
ALTER TABLE IF EXISTS ONLY public."BreakoutParticipant" DROP CONSTRAINT IF EXISTS "BreakoutParticipant_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."BreakoutParticipant" DROP CONSTRAINT IF EXISTS "BreakoutParticipant_breakoutId_fkey";
ALTER TABLE IF EXISTS ONLY public."Application" DROP CONSTRAINT IF EXISTS "Application_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Application" DROP CONSTRAINT IF EXISTS "Application_resumeId_fkey";
ALTER TABLE IF EXISTS ONLY public."Application" DROP CONSTRAINT IF EXISTS "Application_jobId_fkey";
DROP INDEX IF EXISTS public."User_username_key";
DROP INDEX IF EXISTS public."User_passwordResetToken_key";
DROP INDEX IF EXISTS public."User_email_key";
DROP INDEX IF EXISTS public."UserSettings_userId_key";
DROP INDEX IF EXISTS public."UserAchievement_userId_createdAt_idx";
DROP INDEX IF EXISTS public."UserAchievement_userId_achievementId_key";
DROP INDEX IF EXISTS public."Scholarship_userId_createdAt_idx";
DROP INDEX IF EXISTS public."Resume_userId_key";
DROP INDEX IF EXISTS public."Resume_shareToken_key";
DROP INDEX IF EXISTS public."ResourceReview_resourceId_userId_key";
DROP INDEX IF EXISTS public."ResourceFavorite_resourceId_userId_key";
DROP INDEX IF EXISTS public."Rank_name_key";
DROP INDEX IF EXISTS public."Purchase_resourceId_buyerId_key";
DROP INDEX IF EXISTS public."Purchase_buyerId_createdAt_idx";
DROP INDEX IF EXISTS public."Notification_userId_createdAt_idx";
DROP INDEX IF EXISTS public."MentorProfile_userId_key";
DROP INDEX IF EXISTS public."Lead_email_key";
DROP INDEX IF EXISTS public."Job_type_isOpen_idx";
DROP INDEX IF EXISTS public."Job_companyId_idx";
DROP INDEX IF EXISTS public."GroupMessage_groupId_createdAt_idx";
DROP INDEX IF EXISTS public."GroupMember_groupId_userId_key";
DROP INDEX IF EXISTS public."GamificationProfile_userId_key";
DROP INDEX IF EXISTS public."ForumTopic_boardId_createdAt_idx";
DROP INDEX IF EXISTS public."ForumSubscription_userId_idx";
DROP INDEX IF EXISTS public."ForumPost_topicId_createdAt_idx";
DROP INDEX IF EXISTS public."ForumNotification_userId_createdAt_idx";
DROP INDEX IF EXISTS public."ForumModerator_boardId_userId_key";
DROP INDEX IF EXISTS public."Exam_category_subject_difficulty_idx";
DROP INDEX IF EXISTS public."ExamQuestion_examId_order_idx";
DROP INDEX IF EXISTS public."ExamAttempt_userId_examId_idx";
DROP INDEX IF EXISTS public."ExamAttempt_status_idx";
DROP INDEX IF EXISTS public."ExamAnswer_attemptId_questionId_key";
DROP INDEX IF EXISTS public."Enrollment_userId_courseId_key";
DROP INDEX IF EXISTS public."EarnEvent_userId_createdAt_idx";
DROP INDEX IF EXISTS public."DirectParticipant_conversationId_userId_key";
DROP INDEX IF EXISTS public."DirectMessage_conversationId_createdAt_idx";
DROP INDEX IF EXISTS public."CourseContent_courseId_idx";
DROP INDEX IF EXISTS public."ClassroomParticipant_classroomId_userId_key";
DROP INDEX IF EXISTS public."Certificate_verificationCode_key";
DROP INDEX IF EXISTS public."Certificate_userId_idx";
DROP INDEX IF EXISTS public."Certificate_templateId_idx";
DROP INDEX IF EXISTS public."Certificate_serial_key";
DROP INDEX IF EXISTS public."Certificate_courseId_idx";
DROP INDEX IF EXISTS public."BreakoutParticipant_breakoutId_userId_key";
DROP INDEX IF EXISTS public."Application_userId_idx";
DROP INDEX IF EXISTS public."Application_jobId_idx";
DROP INDEX IF EXISTS public."Achievement_code_key";
ALTER TABLE IF EXISTS ONLY public._prisma_migrations DROP CONSTRAINT IF EXISTS _prisma_migrations_pkey;
ALTER TABLE IF EXISTS ONLY public."User" DROP CONSTRAINT IF EXISTS "User_pkey";
ALTER TABLE IF EXISTS ONLY public."UserSettings" DROP CONSTRAINT IF EXISTS "UserSettings_pkey";
ALTER TABLE IF EXISTS ONLY public."UserAchievement" DROP CONSTRAINT IF EXISTS "UserAchievement_pkey";
ALTER TABLE IF EXISTS ONLY public."Subscription" DROP CONSTRAINT IF EXISTS "Subscription_pkey";
ALTER TABLE IF EXISTS ONLY public."StudyLog" DROP CONSTRAINT IF EXISTS "StudyLog_pkey";
ALTER TABLE IF EXISTS ONLY public."StudyGroup" DROP CONSTRAINT IF EXISTS "StudyGroup_pkey";
ALTER TABLE IF EXISTS ONLY public."Scholarship" DROP CONSTRAINT IF EXISTS "Scholarship_pkey";
ALTER TABLE IF EXISTS ONLY public."Resume" DROP CONSTRAINT IF EXISTS "Resume_pkey";
ALTER TABLE IF EXISTS ONLY public."Resource" DROP CONSTRAINT IF EXISTS "Resource_pkey";
ALTER TABLE IF EXISTS ONLY public."ResourceReview" DROP CONSTRAINT IF EXISTS "ResourceReview_pkey";
ALTER TABLE IF EXISTS ONLY public."ResourceFavorite" DROP CONSTRAINT IF EXISTS "ResourceFavorite_pkey";
ALTER TABLE IF EXISTS ONLY public."Rank" DROP CONSTRAINT IF EXISTS "Rank_pkey";
ALTER TABLE IF EXISTS ONLY public."Purchase" DROP CONSTRAINT IF EXISTS "Purchase_pkey";
ALTER TABLE IF EXISTS ONLY public."Plan" DROP CONSTRAINT IF EXISTS "Plan_pkey";
ALTER TABLE IF EXISTS ONLY public."Notification" DROP CONSTRAINT IF EXISTS "Notification_pkey";
ALTER TABLE IF EXISTS ONLY public."MindfulnessContent" DROP CONSTRAINT IF EXISTS "MindfulnessContent_pkey";
ALTER TABLE IF EXISTS ONLY public."MentorshipRequest" DROP CONSTRAINT IF EXISTS "MentorshipRequest_pkey";
ALTER TABLE IF EXISTS ONLY public."MentorProfile" DROP CONSTRAINT IF EXISTS "MentorProfile_pkey";
ALTER TABLE IF EXISTS ONLY public."Lead" DROP CONSTRAINT IF EXISTS "Lead_pkey";
ALTER TABLE IF EXISTS ONLY public."Job" DROP CONSTRAINT IF EXISTS "Job_pkey";
ALTER TABLE IF EXISTS ONLY public."GroupMessage" DROP CONSTRAINT IF EXISTS "GroupMessage_pkey";
ALTER TABLE IF EXISTS ONLY public."GroupMember" DROP CONSTRAINT IF EXISTS "GroupMember_pkey";
ALTER TABLE IF EXISTS ONLY public."GlobalSetting" DROP CONSTRAINT IF EXISTS "GlobalSetting_pkey";
ALTER TABLE IF EXISTS ONLY public."GamificationProfile" DROP CONSTRAINT IF EXISTS "GamificationProfile_pkey";
ALTER TABLE IF EXISTS ONLY public."ForumTopic" DROP CONSTRAINT IF EXISTS "ForumTopic_pkey";
ALTER TABLE IF EXISTS ONLY public."ForumSubscription" DROP CONSTRAINT IF EXISTS "ForumSubscription_pkey";
ALTER TABLE IF EXISTS ONLY public."ForumPost" DROP CONSTRAINT IF EXISTS "ForumPost_pkey";
ALTER TABLE IF EXISTS ONLY public."ForumNotification" DROP CONSTRAINT IF EXISTS "ForumNotification_pkey";
ALTER TABLE IF EXISTS ONLY public."ForumModerator" DROP CONSTRAINT IF EXISTS "ForumModerator_pkey";
ALTER TABLE IF EXISTS ONLY public."ForumBoard" DROP CONSTRAINT IF EXISTS "ForumBoard_pkey";
ALTER TABLE IF EXISTS ONLY public."Exam" DROP CONSTRAINT IF EXISTS "Exam_pkey";
ALTER TABLE IF EXISTS ONLY public."ExamQuestion" DROP CONSTRAINT IF EXISTS "ExamQuestion_pkey";
ALTER TABLE IF EXISTS ONLY public."ExamAttempt" DROP CONSTRAINT IF EXISTS "ExamAttempt_pkey";
ALTER TABLE IF EXISTS ONLY public."ExamAnswer" DROP CONSTRAINT IF EXISTS "ExamAnswer_pkey";
ALTER TABLE IF EXISTS ONLY public."Enrollment" DROP CONSTRAINT IF EXISTS "Enrollment_pkey";
ALTER TABLE IF EXISTS ONLY public."EarnEvent" DROP CONSTRAINT IF EXISTS "EarnEvent_pkey";
ALTER TABLE IF EXISTS ONLY public."DirectParticipant" DROP CONSTRAINT IF EXISTS "DirectParticipant_pkey";
ALTER TABLE IF EXISTS ONLY public."DirectMessage" DROP CONSTRAINT IF EXISTS "DirectMessage_pkey";
ALTER TABLE IF EXISTS ONLY public."DirectConversation" DROP CONSTRAINT IF EXISTS "DirectConversation_pkey";
ALTER TABLE IF EXISTS ONLY public."Course" DROP CONSTRAINT IF EXISTS "Course_pkey";
ALTER TABLE IF EXISTS ONLY public."CourseContent" DROP CONSTRAINT IF EXISTS "CourseContent_pkey";
ALTER TABLE IF EXISTS ONLY public."CounselorSlot" DROP CONSTRAINT IF EXISTS "CounselorSlot_pkey";
ALTER TABLE IF EXISTS ONLY public."Company" DROP CONSTRAINT IF EXISTS "Company_pkey";
ALTER TABLE IF EXISTS ONLY public."Classroom" DROP CONSTRAINT IF EXISTS "Classroom_pkey";
ALTER TABLE IF EXISTS ONLY public."ClassroomParticipant" DROP CONSTRAINT IF EXISTS "ClassroomParticipant_pkey";
ALTER TABLE IF EXISTS ONLY public."Certificate" DROP CONSTRAINT IF EXISTS "Certificate_pkey";
ALTER TABLE IF EXISTS ONLY public."CertificateTemplate" DROP CONSTRAINT IF EXISTS "CertificateTemplate_pkey";
ALTER TABLE IF EXISTS ONLY public."BreakoutRoom" DROP CONSTRAINT IF EXISTS "BreakoutRoom_pkey";
ALTER TABLE IF EXISTS ONLY public."BreakoutParticipant" DROP CONSTRAINT IF EXISTS "BreakoutParticipant_pkey";
ALTER TABLE IF EXISTS ONLY public."Application" DROP CONSTRAINT IF EXISTS "Application_pkey";
ALTER TABLE IF EXISTS ONLY public."Achievement" DROP CONSTRAINT IF EXISTS "Achievement_pkey";
DROP TABLE IF EXISTS public._prisma_migrations;
DROP TABLE IF EXISTS public."UserSettings";
DROP TABLE IF EXISTS public."UserAchievement";
DROP TABLE IF EXISTS public."User";
DROP TABLE IF EXISTS public."Subscription";
DROP TABLE IF EXISTS public."StudyLog";
DROP TABLE IF EXISTS public."StudyGroup";
DROP TABLE IF EXISTS public."Scholarship";
DROP TABLE IF EXISTS public."Resume";
DROP TABLE IF EXISTS public."ResourceReview";
DROP TABLE IF EXISTS public."ResourceFavorite";
DROP TABLE IF EXISTS public."Resource";
DROP TABLE IF EXISTS public."Rank";
DROP TABLE IF EXISTS public."Purchase";
DROP TABLE IF EXISTS public."Plan";
DROP TABLE IF EXISTS public."Notification";
DROP TABLE IF EXISTS public."MindfulnessContent";
DROP TABLE IF EXISTS public."MentorshipRequest";
DROP TABLE IF EXISTS public."MentorProfile";
DROP TABLE IF EXISTS public."Lead";
DROP TABLE IF EXISTS public."Job";
DROP TABLE IF EXISTS public."GroupMessage";
DROP TABLE IF EXISTS public."GroupMember";
DROP TABLE IF EXISTS public."GlobalSetting";
DROP TABLE IF EXISTS public."GamificationProfile";
DROP TABLE IF EXISTS public."ForumTopic";
DROP TABLE IF EXISTS public."ForumSubscription";
DROP TABLE IF EXISTS public."ForumPost";
DROP TABLE IF EXISTS public."ForumNotification";
DROP TABLE IF EXISTS public."ForumModerator";
DROP TABLE IF EXISTS public."ForumBoard";
DROP TABLE IF EXISTS public."ExamQuestion";
DROP TABLE IF EXISTS public."ExamAttempt";
DROP TABLE IF EXISTS public."ExamAnswer";
DROP TABLE IF EXISTS public."Exam";
DROP TABLE IF EXISTS public."Enrollment";
DROP TABLE IF EXISTS public."EarnEvent";
DROP TABLE IF EXISTS public."DirectParticipant";
DROP TABLE IF EXISTS public."DirectMessage";
DROP TABLE IF EXISTS public."DirectConversation";
DROP TABLE IF EXISTS public."CourseContent";
DROP TABLE IF EXISTS public."Course";
DROP TABLE IF EXISTS public."CounselorSlot";
DROP TABLE IF EXISTS public."Company";
DROP TABLE IF EXISTS public."ClassroomParticipant";
DROP TABLE IF EXISTS public."Classroom";
DROP TABLE IF EXISTS public."CertificateTemplate";
DROP TABLE IF EXISTS public."Certificate";
DROP TABLE IF EXISTS public."BreakoutRoom";
DROP TABLE IF EXISTS public."BreakoutParticipant";
DROP TABLE IF EXISTS public."Application";
DROP TABLE IF EXISTS public."Achievement";
DROP TYPE IF EXISTS public."Role";
-- *not* dropping schema, since initdb creates it
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'admin',
    'teacher',
    'student',
    'qa_solver'
);


ALTER TYPE public."Role" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Achievement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Achievement" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    icon text,
    "xpReward" integer DEFAULT 0 NOT NULL,
    "pointsReward" integer DEFAULT 0 NOT NULL,
    criteria jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Achievement" OWNER TO postgres;

--
-- Name: Application; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Application" (
    id text NOT NULL,
    "jobId" text NOT NULL,
    "userId" text NOT NULL,
    "resumeId" text,
    "coverLetter" text,
    status text DEFAULT 'applied'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Application" OWNER TO postgres;

--
-- Name: BreakoutParticipant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BreakoutParticipant" (
    id text NOT NULL,
    "breakoutId" text NOT NULL,
    "userId" text NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."BreakoutParticipant" OWNER TO postgres;

--
-- Name: BreakoutRoom; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BreakoutRoom" (
    id text NOT NULL,
    "classroomId" text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."BreakoutRoom" OWNER TO postgres;

--
-- Name: Certificate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Certificate" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "templateId" text NOT NULL,
    "courseId" text,
    title text NOT NULL,
    "issuedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    issuer text DEFAULT 'EDU AI'::text NOT NULL,
    serial text NOT NULL,
    "verificationCode" text NOT NULL,
    "blockchainTx" text,
    "pdfUrl" text,
    "jsonUrl" text,
    metadata jsonb
);


ALTER TABLE public."Certificate" OWNER TO postgres;

--
-- Name: CertificateTemplate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CertificateTemplate" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    kind text NOT NULL,
    "isPaid" boolean DEFAULT false NOT NULL,
    price double precision,
    "bgUrl" text,
    category text,
    "requiresExam" boolean DEFAULT false NOT NULL,
    "examCategory" text,
    "minPercentage" double precision,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CertificateTemplate" OWNER TO postgres;

--
-- Name: Classroom; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Classroom" (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    "isPublic" boolean DEFAULT true NOT NULL,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Classroom" OWNER TO postgres;

--
-- Name: ClassroomParticipant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ClassroomParticipant" (
    id text NOT NULL,
    "classroomId" text NOT NULL,
    "userId" text NOT NULL,
    role text DEFAULT 'member'::text NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ClassroomParticipant" OWNER TO postgres;

--
-- Name: Company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Company" (
    id text NOT NULL,
    name text NOT NULL,
    website text,
    "logoUrl" text,
    description text,
    "ownerId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Company" OWNER TO postgres;

--
-- Name: CounselorSlot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CounselorSlot" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "startTime" timestamp(3) without time zone NOT NULL,
    "endTime" timestamp(3) without time zone NOT NULL,
    "isBooked" boolean DEFAULT false NOT NULL,
    "bookedBy" text
);


ALTER TABLE public."CounselorSlot" OWNER TO postgres;

--
-- Name: Course; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Course" (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    category text,
    "createdById" text,
    details text,
    "isPublic" boolean DEFAULT true NOT NULL,
    level text,
    price double precision,
    seats integer,
    thumbnail text
);


ALTER TABLE public."Course" OWNER TO postgres;

--
-- Name: CourseContent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CourseContent" (
    id text NOT NULL,
    "courseId" text NOT NULL,
    type text NOT NULL,
    title text,
    description text,
    "fileUrl" text,
    "textContent" text,
    duration text,
    size text,
    "order" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CourseContent" OWNER TO postgres;

--
-- Name: DirectConversation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DirectConversation" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."DirectConversation" OWNER TO postgres;

--
-- Name: DirectMessage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DirectMessage" (
    id text NOT NULL,
    "conversationId" text NOT NULL,
    "senderId" text NOT NULL,
    content text,
    type text DEFAULT 'text'::text NOT NULL,
    "fileUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DirectMessage" OWNER TO postgres;

--
-- Name: DirectParticipant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DirectParticipant" (
    id text NOT NULL,
    "conversationId" text NOT NULL,
    "userId" text NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DirectParticipant" OWNER TO postgres;

--
-- Name: EarnEvent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EarnEvent" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    points integer DEFAULT 0 NOT NULL,
    data jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."EarnEvent" OWNER TO postgres;

--
-- Name: Enrollment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Enrollment" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "courseId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Enrollment" OWNER TO postgres;

--
-- Name: Exam; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Exam" (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    category text NOT NULL,
    subject text NOT NULL,
    difficulty text NOT NULL,
    duration integer NOT NULL,
    "totalQuestions" integer NOT NULL,
    "passingScore" integer NOT NULL,
    "isPublic" boolean DEFAULT true NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Exam" OWNER TO postgres;

--
-- Name: ExamAnswer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ExamAnswer" (
    id text NOT NULL,
    "attemptId" text NOT NULL,
    "questionId" text NOT NULL,
    answer text NOT NULL,
    "isCorrect" boolean DEFAULT false NOT NULL,
    points integer DEFAULT 0 NOT NULL,
    "timeSpent" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ExamAnswer" OWNER TO postgres;

--
-- Name: ExamAttempt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ExamAttempt" (
    id text NOT NULL,
    "examId" text NOT NULL,
    "userId" text NOT NULL,
    "startTime" timestamp(3) without time zone NOT NULL,
    "endTime" timestamp(3) without time zone,
    duration integer,
    score integer DEFAULT 0 NOT NULL,
    "totalScore" integer NOT NULL,
    percentage double precision DEFAULT 0.0 NOT NULL,
    passed boolean DEFAULT false NOT NULL,
    status text DEFAULT 'in_progress'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ExamAttempt" OWNER TO postgres;

--
-- Name: ExamQuestion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ExamQuestion" (
    id text NOT NULL,
    "examId" text NOT NULL,
    question text NOT NULL,
    type text NOT NULL,
    options jsonb,
    "correctAnswer" text NOT NULL,
    explanation text,
    points integer DEFAULT 1 NOT NULL,
    "order" integer NOT NULL,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ExamQuestion" OWNER TO postgres;

--
-- Name: ForumBoard; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ForumBoard" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "isPublic" boolean DEFAULT true NOT NULL,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ForumBoard" OWNER TO postgres;

--
-- Name: ForumModerator; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ForumModerator" (
    id text NOT NULL,
    "boardId" text NOT NULL,
    "userId" text NOT NULL,
    role text DEFAULT 'moderator'::text NOT NULL
);


ALTER TABLE public."ForumModerator" OWNER TO postgres;

--
-- Name: ForumNotification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ForumNotification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    "topicId" text NOT NULL,
    "postId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "readAt" timestamp(3) without time zone
);


ALTER TABLE public."ForumNotification" OWNER TO postgres;

--
-- Name: ForumPost; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ForumPost" (
    id text NOT NULL,
    "topicId" text NOT NULL,
    "authorId" text NOT NULL,
    content text NOT NULL,
    "isExpert" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    accepted boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "editedAt" timestamp(3) without time zone,
    "editedById" text
);


ALTER TABLE public."ForumPost" OWNER TO postgres;

--
-- Name: ForumSubscription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ForumSubscription" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "boardId" text,
    "topicId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "emailDigest" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."ForumSubscription" OWNER TO postgres;

--
-- Name: ForumTopic; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ForumTopic" (
    id text NOT NULL,
    "boardId" text NOT NULL,
    title text NOT NULL,
    "authorId" text NOT NULL,
    locked boolean DEFAULT false NOT NULL,
    pinned boolean DEFAULT false NOT NULL,
    tags text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ForumTopic" OWNER TO postgres;

--
-- Name: GamificationProfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."GamificationProfile" (
    id text NOT NULL,
    "userId" text NOT NULL,
    xp integer DEFAULT 0 NOT NULL,
    points integer DEFAULT 0 NOT NULL,
    level integer DEFAULT 1 NOT NULL,
    "rankName" text DEFAULT 'Bronze'::text NOT NULL,
    "streakCurrent" integer DEFAULT 0 NOT NULL,
    "streakBest" integer DEFAULT 0 NOT NULL,
    "lastEarnAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."GamificationProfile" OWNER TO postgres;

--
-- Name: GlobalSetting; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."GlobalSetting" (
    key text NOT NULL,
    value jsonb NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."GlobalSetting" OWNER TO postgres;

--
-- Name: GroupMember; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."GroupMember" (
    id text NOT NULL,
    "groupId" text NOT NULL,
    "userId" text NOT NULL,
    role text DEFAULT 'member'::text NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."GroupMember" OWNER TO postgres;

--
-- Name: GroupMessage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."GroupMessage" (
    id text NOT NULL,
    "groupId" text NOT NULL,
    "senderId" text NOT NULL,
    content text,
    type text DEFAULT 'text'::text NOT NULL,
    "fileUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."GroupMessage" OWNER TO postgres;

--
-- Name: Job; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Job" (
    id text NOT NULL,
    title text NOT NULL,
    type text NOT NULL,
    location text,
    remote boolean DEFAULT true NOT NULL,
    description text,
    requirements text,
    "salaryMin" integer,
    "salaryMax" integer,
    "companyId" text NOT NULL,
    "isOpen" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Job" OWNER TO postgres;

--
-- Name: Lead; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Lead" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    message text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Lead" OWNER TO postgres;

--
-- Name: MentorProfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MentorProfile" (
    id text NOT NULL,
    "userId" text NOT NULL,
    headline text,
    expertise text[],
    years integer,
    availability text,
    rate double precision,
    bio text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."MentorProfile" OWNER TO postgres;

--
-- Name: MentorshipRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MentorshipRequest" (
    id text NOT NULL,
    "mentorId" text NOT NULL,
    "menteeId" text NOT NULL,
    topic text,
    message text,
    status text DEFAULT 'pending'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."MentorshipRequest" OWNER TO postgres;

--
-- Name: MindfulnessContent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MindfulnessContent" (
    id text NOT NULL,
    title text NOT NULL,
    kind text NOT NULL,
    duration integer,
    "mediaUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."MindfulnessContent" OWNER TO postgres;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    body text,
    data jsonb,
    "readAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: Plan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Plan" (
    id text NOT NULL,
    name text NOT NULL,
    "interval" text NOT NULL,
    price double precision NOT NULL,
    features text[],
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Plan" OWNER TO postgres;

--
-- Name: Purchase; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Purchase" (
    id text NOT NULL,
    "resourceId" text NOT NULL,
    "buyerId" text NOT NULL,
    "pricePaid" double precision DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Purchase" OWNER TO postgres;

--
-- Name: Rank; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Rank" (
    id text NOT NULL,
    name text NOT NULL,
    "minXp" integer DEFAULT 0 NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    icon text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Rank" OWNER TO postgres;

--
-- Name: Resource; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Resource" (
    id text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    type text NOT NULL,
    category text NOT NULL,
    subject text NOT NULL,
    level text NOT NULL,
    format text NOT NULL,
    "fileUrl" text,
    "externalUrl" text,
    "fileSize" text,
    duration text,
    author text NOT NULL,
    "contributorId" text NOT NULL,
    "uploadDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    downloads integer DEFAULT 0 NOT NULL,
    views integer DEFAULT 0 NOT NULL,
    rating double precision DEFAULT 0.0 NOT NULL,
    "reviewCount" integer DEFAULT 0 NOT NULL,
    tags text[],
    "isVerified" boolean DEFAULT false NOT NULL,
    "isFree" boolean DEFAULT true NOT NULL,
    price double precision,
    thumbnail text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Resource" OWNER TO postgres;

--
-- Name: ResourceFavorite; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ResourceFavorite" (
    id text NOT NULL,
    "resourceId" text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ResourceFavorite" OWNER TO postgres;

--
-- Name: ResourceReview; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ResourceReview" (
    id text NOT NULL,
    "resourceId" text NOT NULL,
    "userId" text NOT NULL,
    rating double precision NOT NULL,
    comment text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ResourceReview" OWNER TO postgres;

--
-- Name: Resume; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Resume" (
    id text NOT NULL,
    "userId" text NOT NULL,
    headline text,
    summary text,
    skills text[],
    experience jsonb,
    education jsonb,
    "shareToken" text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Resume" OWNER TO postgres;

--
-- Name: Scholarship; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Scholarship" (
    id text NOT NULL,
    "userId" text NOT NULL,
    kind text NOT NULL,
    points integer DEFAULT 0 NOT NULL,
    amount double precision DEFAULT 0,
    "benefitType" text,
    "benefitValue" text,
    status text DEFAULT 'granted'::text NOT NULL,
    reason text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    metadata jsonb
);


ALTER TABLE public."Scholarship" OWNER TO postgres;

--
-- Name: StudyGroup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StudyGroup" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "isPublic" boolean DEFAULT true NOT NULL,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."StudyGroup" OWNER TO postgres;

--
-- Name: StudyLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StudyLog" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    duration integer DEFAULT 0 NOT NULL,
    subject text,
    mood text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StudyLog" OWNER TO postgres;

--
-- Name: Subscription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Subscription" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "planId" text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    "startAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "endAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Subscription" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    role public."Role" DEFAULT 'student'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    age integer,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "firstName" text,
    "lastName" text,
    nationality text,
    password text NOT NULL,
    "passwordResetExpires" timestamp(3) without time zone,
    "passwordResetToken" text,
    phone text,
    username text,
    avatar text,
    bio text,
    "coursesCompleted" integer DEFAULT 0,
    "dateOfBirth" timestamp(3) without time zone,
    experience integer,
    expertise text[],
    "hourlyRate" double precision,
    interests text[],
    "isProfilePublic" boolean DEFAULT true NOT NULL,
    location text,
    qualifications text[],
    rating double precision DEFAULT 0.0 NOT NULL,
    "reviewCount" integer DEFAULT 0 NOT NULL,
    "solvedQuestions" integer DEFAULT 0,
    "studyLevel" text,
    subjects text[]
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserAchievement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserAchievement" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "achievementId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."UserAchievement" OWNER TO postgres;

--
-- Name: UserSettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserSettings" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "twoFactorEnabled" boolean DEFAULT false NOT NULL,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "phoneVerified" boolean DEFAULT false NOT NULL,
    "emailNotifications" boolean DEFAULT true NOT NULL,
    "pushNotifications" boolean DEFAULT true NOT NULL,
    "smsNotifications" boolean DEFAULT false NOT NULL,
    "marketingEmails" boolean DEFAULT false NOT NULL,
    "courseUpdates" boolean DEFAULT true NOT NULL,
    "messageNotifications" boolean DEFAULT true NOT NULL,
    "profileVisibility" text DEFAULT 'public'::text NOT NULL,
    "showOnlineStatus" boolean DEFAULT true NOT NULL,
    "allowDirectMessages" boolean DEFAULT true NOT NULL,
    "showEmail" boolean DEFAULT false NOT NULL,
    "showPhone" boolean DEFAULT false NOT NULL,
    "dataCollection" boolean DEFAULT true NOT NULL,
    theme text DEFAULT 'system'::text NOT NULL,
    language text DEFAULT 'en'::text NOT NULL,
    timezone text DEFAULT 'Asia/Dhaka'::text NOT NULL,
    "dateFormat" text DEFAULT 'DD/MM/YYYY'::text NOT NULL,
    "timeFormat" text DEFAULT '12h'::text NOT NULL,
    "studyReminders" boolean DEFAULT true NOT NULL,
    "studyReminderTime" text DEFAULT '19:00'::text NOT NULL,
    "difficultyLevel" text DEFAULT 'intermediate'::text NOT NULL,
    autoplay boolean DEFAULT false NOT NULL,
    subtitles boolean DEFAULT true NOT NULL,
    "playbackSpeed" double precision DEFAULT 1.0 NOT NULL,
    "allowVideoCall" boolean DEFAULT true NOT NULL,
    "allowVoiceCall" boolean DEFAULT true NOT NULL,
    "allowScreenShare" boolean DEFAULT false NOT NULL,
    "defaultMeetingDuration" integer DEFAULT 30 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."UserSettings" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Achievement; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Application; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Application" (id, "jobId", "userId", "resumeId", "coverLetter", status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: BreakoutParticipant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BreakoutParticipant" (id, "breakoutId", "userId", "joinedAt") FROM stdin;
\.


--
-- Data for Name: BreakoutRoom; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BreakoutRoom" (id, "classroomId", name, "createdAt") FROM stdin;
\.


--
-- Data for Name: Certificate; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: CertificateTemplate; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Classroom; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Classroom" (id, title, description, "isPublic", "createdById", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ClassroomParticipant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ClassroomParticipant" (id, "classroomId", "userId", role, "joinedAt") FROM stdin;
\.


--
-- Data for Name: Company; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Company" (id, name, website, "logoUrl", description, "ownerId", "createdAt", "updatedAt") FROM stdin;
comp-datahub	DataHub Ltd	https://datahub.example	\N	Analytics and BI firm	\N	2025-09-01 07:45:39.398	2025-09-01 07:45:39.398
comp-cloudnine	CloudNine	https://cloudnine.example	\N	Cloud platform startup	\N	2025-09-01 07:45:39.398	2025-09-01 07:45:39.398
comp-securify	Securify	https://securify.example	\N	Cybersecurity services	\N	2025-09-01 07:45:39.398	2025-09-01 07:45:39.398
\.


--
-- Data for Name: CounselorSlot; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CounselorSlot" (id, "userId", "startTime", "endTime", "isBooked", "bookedBy") FROM stdin;
\.


--
-- Data for Name: Course; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Course" (id, title, description, "createdAt", "updatedAt", category, "createdById", details, "isPublic", level, price, seats, thumbnail) FROM stdin;
seed-course	Intro to Edu AI	Getting started	2025-09-01 07:45:39.268	2025-09-01 07:45:39.268	\N	\N	\N	t	\N	\N	\N	\N
\.


--
-- Data for Name: CourseContent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CourseContent" (id, "courseId", type, title, description, "fileUrl", "textContent", duration, size, "order", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: DirectConversation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DirectConversation" (id, "createdAt", "updatedAt") FROM stdin;
cmf0teou3001esvvgajaj1m9v	2025-09-01 07:45:39.388	2025-09-01 07:45:39.388
cmf2b9eaa0005svxkxu0phbyd	2025-09-02 08:53:11.699	2025-09-02 08:57:05.686
\.


--
-- Data for Name: DirectMessage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DirectMessage" (id, "conversationId", "senderId", content, type, "fileUrl", "createdAt") FROM stdin;
cmf0teou3001jsvvgmmrp1smh	cmf0teou3001esvvgajaj1m9v	cmf0teojt0001svvg2ii44cou	Hello professor!	text	\N	2025-09-01 07:45:39.388
cmf0teou3001ksvvg3pbdjrgw	cmf0teou3001esvvgajaj1m9v	cmf0teol60002svvg4e2m2mu4	Hi Bob, how can I help?	text	\N	2025-09-01 07:45:39.388
cmf2beeto000csvxkyv6kjw7f	cmf2b9eaa0005svxkxu0phbyd	cmf2agpna0000svxk1oft2bxf	hi	text	\N	2025-09-02 08:57:05.677
\.


--
-- Data for Name: DirectParticipant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DirectParticipant" (id, "conversationId", "userId", "joinedAt") FROM stdin;
cmf0teou3001gsvvgu6i854nf	cmf0teou3001esvvgajaj1m9v	cmf0teojt0001svvg2ii44cou	2025-09-01 07:45:39.388
cmf0teou3001hsvvgo2r5hinb	cmf0teou3001esvvgajaj1m9v	cmf0teol60002svvg4e2m2mu4	2025-09-01 07:45:39.388
cmf2b9eaa0007svxkvtcv91my	cmf2b9eaa0005svxkxu0phbyd	cmf2agpna0000svxk1oft2bxf	2025-09-02 08:53:11.699
cmf2b9eaa0008svxk30oxjhuc	cmf2b9eaa0005svxkxu0phbyd	cmf0teopa0005svvgx2h4z6vq	2025-09-02 08:53:11.699
\.


--
-- Data for Name: EarnEvent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EarnEvent" (id, "userId", type, points, data, "createdAt") FROM stdin;
\.


--
-- Data for Name: Enrollment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Enrollment" (id, "userId", "courseId", "createdAt") FROM stdin;
cmf0teoqx0008svvgbv0mcuk1	cmf0teojt0001svvg2ii44cou	seed-course	2025-09-01 07:45:39.273
\.


--
-- Data for Name: Exam; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Exam" (id, title, description, category, subject, difficulty, duration, "totalQuestions", "passingScore", "isPublic", "isActive", "createdById", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ExamAnswer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ExamAnswer" (id, "attemptId", "questionId", answer, "isCorrect", points, "timeSpent", "createdAt") FROM stdin;
\.


--
-- Data for Name: ExamAttempt; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ExamAttempt" (id, "examId", "userId", "startTime", "endTime", duration, score, "totalScore", percentage, passed, status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ExamQuestion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ExamQuestion" (id, "examId", question, type, options, "correctAnswer", explanation, points, "order", "createdById", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ForumBoard; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ForumBoard" (id, name, description, "isPublic", "createdById", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ForumModerator; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ForumModerator" (id, "boardId", "userId", role) FROM stdin;
\.


--
-- Data for Name: ForumNotification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ForumNotification" (id, "userId", type, "topicId", "postId", "createdAt", "readAt") FROM stdin;
\.


--
-- Data for Name: ForumPost; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ForumPost" (id, "topicId", "authorId", content, "isExpert", "createdAt", accepted, "deletedAt", "editedAt", "editedById") FROM stdin;
\.


--
-- Data for Name: ForumSubscription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ForumSubscription" (id, "userId", "boardId", "topicId", "createdAt", "emailDigest") FROM stdin;
\.


--
-- Data for Name: ForumTopic; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ForumTopic" (id, "boardId", title, "authorId", locked, pinned, tags, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: GamificationProfile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."GamificationProfile" (id, "userId", xp, points, level, "rankName", "streakCurrent", "streakBest", "lastEarnAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: GlobalSetting; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."GlobalSetting" (key, value, "updatedAt") FROM stdin;
\.


--
-- Data for Name: GroupMember; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: GroupMessage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."GroupMessage" (id, "groupId", "senderId", content, type, "fileUrl", "createdAt") FROM stdin;
cmf0teotz001bsvvgh48v8n4q	seed-group-dsa	cmf0teojt0001svvg2ii44cou	Welcome to DSA Night Owls! Share daily problems here.	text	\N	2025-09-01 07:45:39.383
cmf0teou1001dsvvg7zyoi98e	seed-group-dsa	cmf0teomm0003svvghxyhyi7w	Here is a great cheatsheet for common patterns.	pdf	/uploads/groups/dsa-cheatsheet.pdf	2025-09-01 07:45:39.386
\.


--
-- Data for Name: Job; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Lead; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Lead" (id, name, email, message, "createdAt") FROM stdin;
\.


--
-- Data for Name: MentorProfile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MentorProfile" (id, "userId", headline, expertise, years, availability, rate, bio, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: MentorshipRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MentorshipRequest" (id, "mentorId", "menteeId", topic, message, status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: MindfulnessContent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MindfulnessContent" (id, title, kind, duration, "mediaUrl", "createdAt") FROM stdin;
cmf1c6yha0000sv2k7ksjqptx	5-minute Breathing	meditation	5		2025-09-01 16:31:31.341
cmf1c6yhc0001sv2k1jgz14sa	Pomodoro Focus (25m)	focus	25		2025-09-01 16:31:31.341
cmf1c6yhc0002sv2kqggcqadl	Stretch Break (3m)	break	3		2025-09-01 16:31:31.341
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Notification" (id, "userId", type, title, body, data, "readAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: Plan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Plan" (id, name, "interval", price, features, active, "createdAt", "updatedAt") FROM stdin;
cmf27fwgr0004sv3crvh5h04w	Monthly	monthly	4.99	{"All basic features","Community access"}	t	2025-09-02 07:06:16.731	2025-09-02 07:06:16.731
cmf27fwgr0005sv3cfycotkmh	Annual	yearly	49.99	{"2 months free","Priority support"}	t	2025-09-02 07:06:16.731	2025-09-02 07:06:16.731
cmf27fwgr0006sv3c73jzixqq	Family	family	99.99	{"Up to 5 members","Family dashboard"}	t	2025-09-02 07:06:16.731	2025-09-02 07:06:16.731
\.


--
-- Data for Name: Purchase; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Purchase" (id, "resourceId", "buyerId", "pricePaid", "createdAt") FROM stdin;
\.


--
-- Data for Name: Rank; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Rank" (id, name, "minXp", "order", icon, "createdAt", "updatedAt") FROM stdin;
cmf0teort0009svvg5ydrw8dv	Bronze	0	1	≡ƒÑë	2025-09-01 07:45:39.306	2025-09-01 07:46:38.628
cmf0teorx000asvvgpu9u5r33	Silver	300	2	≡ƒÑê	2025-09-01 07:45:39.309	2025-09-01 07:46:38.635
cmf0teorz000bsvvgj0bcez8a	Gold	900	3	≡ƒÑç	2025-09-01 07:45:39.311	2025-09-01 07:46:38.637
cmf0teos0000csvvgca26uzjw	Platinum	2000	4	≡ƒÆÄ	2025-09-01 07:45:39.312	2025-09-01 07:46:38.639
cmf0teos1000dsvvgnv820kd7	Diamond	4000	5	≡ƒö╖	2025-09-01 07:45:39.314	2025-09-01 07:46:38.641
\.


--
-- Data for Name: Resource; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ResourceFavorite; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ResourceFavorite" (id, "resourceId", "userId", "createdAt") FROM stdin;
\.


--
-- Data for Name: ResourceReview; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ResourceReview" (id, "resourceId", "userId", rating, comment, "createdAt") FROM stdin;
\.


--
-- Data for Name: Resume; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Resume" (id, "userId", headline, summary, skills, experience, education, "shareToken", "updatedAt") FROM stdin;
cmf27d8em0003sv3csw0qy4qg	cmf0t8zqj0000sveck7xnbsvm	\N	\N	{}	\N	\N	VIMR8RWF2BIMF27D8EH	2025-09-02 07:04:12.235
\.


--
-- Data for Name: Scholarship; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Scholarship" (id, "userId", kind, points, amount, "benefitType", "benefitValue", status, reason, "createdAt", "expiresAt", metadata) FROM stdin;
\.


--
-- Data for Name: StudyGroup; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: StudyLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StudyLog" (id, "userId", "startedAt", duration, subject, mood, notes, "createdAt") FROM stdin;
\.


--
-- Data for Name: Subscription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Subscription" (id, "userId", "planId", status, "startAt", "endAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserAchievement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UserAchievement" (id, "userId", "achievementId", "createdAt") FROM stdin;
\.


--
-- Data for Name: UserSettings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Achievement Achievement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Achievement"
    ADD CONSTRAINT "Achievement_pkey" PRIMARY KEY (id);


--
-- Name: Application Application_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Application"
    ADD CONSTRAINT "Application_pkey" PRIMARY KEY (id);


--
-- Name: BreakoutParticipant BreakoutParticipant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BreakoutParticipant"
    ADD CONSTRAINT "BreakoutParticipant_pkey" PRIMARY KEY (id);


--
-- Name: BreakoutRoom BreakoutRoom_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BreakoutRoom"
    ADD CONSTRAINT "BreakoutRoom_pkey" PRIMARY KEY (id);


--
-- Name: CertificateTemplate CertificateTemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CertificateTemplate"
    ADD CONSTRAINT "CertificateTemplate_pkey" PRIMARY KEY (id);


--
-- Name: Certificate Certificate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Certificate"
    ADD CONSTRAINT "Certificate_pkey" PRIMARY KEY (id);


--
-- Name: ClassroomParticipant ClassroomParticipant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClassroomParticipant"
    ADD CONSTRAINT "ClassroomParticipant_pkey" PRIMARY KEY (id);


--
-- Name: Classroom Classroom_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Classroom"
    ADD CONSTRAINT "Classroom_pkey" PRIMARY KEY (id);


--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (id);


--
-- Name: CounselorSlot CounselorSlot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CounselorSlot"
    ADD CONSTRAINT "CounselorSlot_pkey" PRIMARY KEY (id);


--
-- Name: CourseContent CourseContent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseContent"
    ADD CONSTRAINT "CourseContent_pkey" PRIMARY KEY (id);


--
-- Name: Course Course_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_pkey" PRIMARY KEY (id);


--
-- Name: DirectConversation DirectConversation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DirectConversation"
    ADD CONSTRAINT "DirectConversation_pkey" PRIMARY KEY (id);


--
-- Name: DirectMessage DirectMessage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DirectMessage"
    ADD CONSTRAINT "DirectMessage_pkey" PRIMARY KEY (id);


--
-- Name: DirectParticipant DirectParticipant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DirectParticipant"
    ADD CONSTRAINT "DirectParticipant_pkey" PRIMARY KEY (id);


--
-- Name: EarnEvent EarnEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EarnEvent"
    ADD CONSTRAINT "EarnEvent_pkey" PRIMARY KEY (id);


--
-- Name: Enrollment Enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_pkey" PRIMARY KEY (id);


--
-- Name: ExamAnswer ExamAnswer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAnswer"
    ADD CONSTRAINT "ExamAnswer_pkey" PRIMARY KEY (id);


--
-- Name: ExamAttempt ExamAttempt_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAttempt"
    ADD CONSTRAINT "ExamAttempt_pkey" PRIMARY KEY (id);


--
-- Name: ExamQuestion ExamQuestion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamQuestion"
    ADD CONSTRAINT "ExamQuestion_pkey" PRIMARY KEY (id);


--
-- Name: Exam Exam_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Exam"
    ADD CONSTRAINT "Exam_pkey" PRIMARY KEY (id);


--
-- Name: ForumBoard ForumBoard_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumBoard"
    ADD CONSTRAINT "ForumBoard_pkey" PRIMARY KEY (id);


--
-- Name: ForumModerator ForumModerator_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumModerator"
    ADD CONSTRAINT "ForumModerator_pkey" PRIMARY KEY (id);


--
-- Name: ForumNotification ForumNotification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumNotification"
    ADD CONSTRAINT "ForumNotification_pkey" PRIMARY KEY (id);


--
-- Name: ForumPost ForumPost_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumPost"
    ADD CONSTRAINT "ForumPost_pkey" PRIMARY KEY (id);


--
-- Name: ForumSubscription ForumSubscription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumSubscription"
    ADD CONSTRAINT "ForumSubscription_pkey" PRIMARY KEY (id);


--
-- Name: ForumTopic ForumTopic_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumTopic"
    ADD CONSTRAINT "ForumTopic_pkey" PRIMARY KEY (id);


--
-- Name: GamificationProfile GamificationProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GamificationProfile"
    ADD CONSTRAINT "GamificationProfile_pkey" PRIMARY KEY (id);


--
-- Name: GlobalSetting GlobalSetting_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GlobalSetting"
    ADD CONSTRAINT "GlobalSetting_pkey" PRIMARY KEY (key);


--
-- Name: GroupMember GroupMember_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GroupMember"
    ADD CONSTRAINT "GroupMember_pkey" PRIMARY KEY (id);


--
-- Name: GroupMessage GroupMessage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GroupMessage"
    ADD CONSTRAINT "GroupMessage_pkey" PRIMARY KEY (id);


--
-- Name: Job Job_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Job"
    ADD CONSTRAINT "Job_pkey" PRIMARY KEY (id);


--
-- Name: Lead Lead_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Lead"
    ADD CONSTRAINT "Lead_pkey" PRIMARY KEY (id);


--
-- Name: MentorProfile MentorProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MentorProfile"
    ADD CONSTRAINT "MentorProfile_pkey" PRIMARY KEY (id);


--
-- Name: MentorshipRequest MentorshipRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MentorshipRequest"
    ADD CONSTRAINT "MentorshipRequest_pkey" PRIMARY KEY (id);


--
-- Name: MindfulnessContent MindfulnessContent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MindfulnessContent"
    ADD CONSTRAINT "MindfulnessContent_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Plan Plan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Plan"
    ADD CONSTRAINT "Plan_pkey" PRIMARY KEY (id);


--
-- Name: Purchase Purchase_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_pkey" PRIMARY KEY (id);


--
-- Name: Rank Rank_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rank"
    ADD CONSTRAINT "Rank_pkey" PRIMARY KEY (id);


--
-- Name: ResourceFavorite ResourceFavorite_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ResourceFavorite"
    ADD CONSTRAINT "ResourceFavorite_pkey" PRIMARY KEY (id);


--
-- Name: ResourceReview ResourceReview_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ResourceReview"
    ADD CONSTRAINT "ResourceReview_pkey" PRIMARY KEY (id);


--
-- Name: Resource Resource_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Resource"
    ADD CONSTRAINT "Resource_pkey" PRIMARY KEY (id);


--
-- Name: Resume Resume_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Resume"
    ADD CONSTRAINT "Resume_pkey" PRIMARY KEY (id);


--
-- Name: Scholarship Scholarship_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Scholarship"
    ADD CONSTRAINT "Scholarship_pkey" PRIMARY KEY (id);


--
-- Name: StudyGroup StudyGroup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudyGroup"
    ADD CONSTRAINT "StudyGroup_pkey" PRIMARY KEY (id);


--
-- Name: StudyLog StudyLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudyLog"
    ADD CONSTRAINT "StudyLog_pkey" PRIMARY KEY (id);


--
-- Name: Subscription Subscription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_pkey" PRIMARY KEY (id);


--
-- Name: UserAchievement UserAchievement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserAchievement"
    ADD CONSTRAINT "UserAchievement_pkey" PRIMARY KEY (id);


--
-- Name: UserSettings UserSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserSettings"
    ADD CONSTRAINT "UserSettings_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Achievement_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Achievement_code_key" ON public."Achievement" USING btree (code);


--
-- Name: Application_jobId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Application_jobId_idx" ON public."Application" USING btree ("jobId");


--
-- Name: Application_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Application_userId_idx" ON public."Application" USING btree ("userId");


--
-- Name: BreakoutParticipant_breakoutId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "BreakoutParticipant_breakoutId_userId_key" ON public."BreakoutParticipant" USING btree ("breakoutId", "userId");


--
-- Name: Certificate_courseId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Certificate_courseId_idx" ON public."Certificate" USING btree ("courseId");


--
-- Name: Certificate_serial_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Certificate_serial_key" ON public."Certificate" USING btree (serial);


--
-- Name: Certificate_templateId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Certificate_templateId_idx" ON public."Certificate" USING btree ("templateId");


--
-- Name: Certificate_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Certificate_userId_idx" ON public."Certificate" USING btree ("userId");


--
-- Name: Certificate_verificationCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Certificate_verificationCode_key" ON public."Certificate" USING btree ("verificationCode");


--
-- Name: ClassroomParticipant_classroomId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ClassroomParticipant_classroomId_userId_key" ON public."ClassroomParticipant" USING btree ("classroomId", "userId");


--
-- Name: CourseContent_courseId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CourseContent_courseId_idx" ON public."CourseContent" USING btree ("courseId");


--
-- Name: DirectMessage_conversationId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DirectMessage_conversationId_createdAt_idx" ON public."DirectMessage" USING btree ("conversationId", "createdAt");


--
-- Name: DirectParticipant_conversationId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "DirectParticipant_conversationId_userId_key" ON public."DirectParticipant" USING btree ("conversationId", "userId");


--
-- Name: EarnEvent_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EarnEvent_userId_createdAt_idx" ON public."EarnEvent" USING btree ("userId", "createdAt");


--
-- Name: Enrollment_userId_courseId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Enrollment_userId_courseId_key" ON public."Enrollment" USING btree ("userId", "courseId");


--
-- Name: ExamAnswer_attemptId_questionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ExamAnswer_attemptId_questionId_key" ON public."ExamAnswer" USING btree ("attemptId", "questionId");


--
-- Name: ExamAttempt_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ExamAttempt_status_idx" ON public."ExamAttempt" USING btree (status);


--
-- Name: ExamAttempt_userId_examId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ExamAttempt_userId_examId_idx" ON public."ExamAttempt" USING btree ("userId", "examId");


--
-- Name: ExamQuestion_examId_order_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ExamQuestion_examId_order_idx" ON public."ExamQuestion" USING btree ("examId", "order");


--
-- Name: Exam_category_subject_difficulty_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Exam_category_subject_difficulty_idx" ON public."Exam" USING btree (category, subject, difficulty);


--
-- Name: ForumModerator_boardId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ForumModerator_boardId_userId_key" ON public."ForumModerator" USING btree ("boardId", "userId");


--
-- Name: ForumNotification_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ForumNotification_userId_createdAt_idx" ON public."ForumNotification" USING btree ("userId", "createdAt");


--
-- Name: ForumPost_topicId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ForumPost_topicId_createdAt_idx" ON public."ForumPost" USING btree ("topicId", "createdAt");


--
-- Name: ForumSubscription_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ForumSubscription_userId_idx" ON public."ForumSubscription" USING btree ("userId");


--
-- Name: ForumTopic_boardId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ForumTopic_boardId_createdAt_idx" ON public."ForumTopic" USING btree ("boardId", "createdAt");


--
-- Name: GamificationProfile_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "GamificationProfile_userId_key" ON public."GamificationProfile" USING btree ("userId");


--
-- Name: GroupMember_groupId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "GroupMember_groupId_userId_key" ON public."GroupMember" USING btree ("groupId", "userId");


--
-- Name: GroupMessage_groupId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "GroupMessage_groupId_createdAt_idx" ON public."GroupMessage" USING btree ("groupId", "createdAt");


--
-- Name: Job_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Job_companyId_idx" ON public."Job" USING btree ("companyId");


--
-- Name: Job_type_isOpen_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Job_type_isOpen_idx" ON public."Job" USING btree (type, "isOpen");


--
-- Name: Lead_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Lead_email_key" ON public."Lead" USING btree (email);


--
-- Name: MentorProfile_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "MentorProfile_userId_key" ON public."MentorProfile" USING btree ("userId");


--
-- Name: Notification_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_userId_createdAt_idx" ON public."Notification" USING btree ("userId", "createdAt");


--
-- Name: Purchase_buyerId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Purchase_buyerId_createdAt_idx" ON public."Purchase" USING btree ("buyerId", "createdAt");


--
-- Name: Purchase_resourceId_buyerId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Purchase_resourceId_buyerId_key" ON public."Purchase" USING btree ("resourceId", "buyerId");


--
-- Name: Rank_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Rank_name_key" ON public."Rank" USING btree (name);


--
-- Name: ResourceFavorite_resourceId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ResourceFavorite_resourceId_userId_key" ON public."ResourceFavorite" USING btree ("resourceId", "userId");


--
-- Name: ResourceReview_resourceId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ResourceReview_resourceId_userId_key" ON public."ResourceReview" USING btree ("resourceId", "userId");


--
-- Name: Resume_shareToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Resume_shareToken_key" ON public."Resume" USING btree ("shareToken");


--
-- Name: Resume_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Resume_userId_key" ON public."Resume" USING btree ("userId");


--
-- Name: Scholarship_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Scholarship_userId_createdAt_idx" ON public."Scholarship" USING btree ("userId", "createdAt");


--
-- Name: UserAchievement_userId_achievementId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserAchievement_userId_achievementId_key" ON public."UserAchievement" USING btree ("userId", "achievementId");


--
-- Name: UserAchievement_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserAchievement_userId_createdAt_idx" ON public."UserAchievement" USING btree ("userId", "createdAt");


--
-- Name: UserSettings_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserSettings_userId_key" ON public."UserSettings" USING btree ("userId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_passwordResetToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_passwordResetToken_key" ON public."User" USING btree ("passwordResetToken");


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: Application Application_jobId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Application"
    ADD CONSTRAINT "Application_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES public."Job"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Application Application_resumeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Application"
    ADD CONSTRAINT "Application_resumeId_fkey" FOREIGN KEY ("resumeId") REFERENCES public."Resume"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Application Application_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Application"
    ADD CONSTRAINT "Application_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BreakoutParticipant BreakoutParticipant_breakoutId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BreakoutParticipant"
    ADD CONSTRAINT "BreakoutParticipant_breakoutId_fkey" FOREIGN KEY ("breakoutId") REFERENCES public."BreakoutRoom"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BreakoutParticipant BreakoutParticipant_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BreakoutParticipant"
    ADD CONSTRAINT "BreakoutParticipant_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BreakoutRoom BreakoutRoom_classroomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BreakoutRoom"
    ADD CONSTRAINT "BreakoutRoom_classroomId_fkey" FOREIGN KEY ("classroomId") REFERENCES public."Classroom"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Certificate Certificate_templateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Certificate"
    ADD CONSTRAINT "Certificate_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES public."CertificateTemplate"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Certificate Certificate_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Certificate"
    ADD CONSTRAINT "Certificate_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClassroomParticipant ClassroomParticipant_classroomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClassroomParticipant"
    ADD CONSTRAINT "ClassroomParticipant_classroomId_fkey" FOREIGN KEY ("classroomId") REFERENCES public."Classroom"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClassroomParticipant ClassroomParticipant_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClassroomParticipant"
    ADD CONSTRAINT "ClassroomParticipant_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Classroom Classroom_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Classroom"
    ADD CONSTRAINT "Classroom_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Company Company_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CounselorSlot CounselorSlot_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CounselorSlot"
    ADD CONSTRAINT "CounselorSlot_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseContent CourseContent_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseContent"
    ADD CONSTRAINT "CourseContent_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Course Course_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DirectMessage DirectMessage_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DirectMessage"
    ADD CONSTRAINT "DirectMessage_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public."DirectConversation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DirectMessage DirectMessage_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DirectMessage"
    ADD CONSTRAINT "DirectMessage_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DirectParticipant DirectParticipant_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DirectParticipant"
    ADD CONSTRAINT "DirectParticipant_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public."DirectConversation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DirectParticipant DirectParticipant_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DirectParticipant"
    ADD CONSTRAINT "DirectParticipant_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EarnEvent EarnEvent_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EarnEvent"
    ADD CONSTRAINT "EarnEvent_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Enrollment Enrollment_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Enrollment Enrollment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Enrollment"
    ADD CONSTRAINT "Enrollment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ExamAnswer ExamAnswer_attemptId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAnswer"
    ADD CONSTRAINT "ExamAnswer_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES public."ExamAttempt"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ExamAnswer ExamAnswer_questionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAnswer"
    ADD CONSTRAINT "ExamAnswer_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES public."ExamQuestion"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ExamAttempt ExamAttempt_examId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAttempt"
    ADD CONSTRAINT "ExamAttempt_examId_fkey" FOREIGN KEY ("examId") REFERENCES public."Exam"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ExamAttempt ExamAttempt_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamAttempt"
    ADD CONSTRAINT "ExamAttempt_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ExamQuestion ExamQuestion_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamQuestion"
    ADD CONSTRAINT "ExamQuestion_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ExamQuestion ExamQuestion_examId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamQuestion"
    ADD CONSTRAINT "ExamQuestion_examId_fkey" FOREIGN KEY ("examId") REFERENCES public."Exam"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Exam Exam_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Exam"
    ADD CONSTRAINT "Exam_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ForumBoard ForumBoard_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumBoard"
    ADD CONSTRAINT "ForumBoard_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ForumModerator ForumModerator_boardId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumModerator"
    ADD CONSTRAINT "ForumModerator_boardId_fkey" FOREIGN KEY ("boardId") REFERENCES public."ForumBoard"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ForumModerator ForumModerator_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumModerator"
    ADD CONSTRAINT "ForumModerator_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ForumNotification ForumNotification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumNotification"
    ADD CONSTRAINT "ForumNotification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ForumPost ForumPost_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumPost"
    ADD CONSTRAINT "ForumPost_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ForumPost ForumPost_editedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumPost"
    ADD CONSTRAINT "ForumPost_editedById_fkey" FOREIGN KEY ("editedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ForumPost ForumPost_topicId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumPost"
    ADD CONSTRAINT "ForumPost_topicId_fkey" FOREIGN KEY ("topicId") REFERENCES public."ForumTopic"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ForumSubscription ForumSubscription_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumSubscription"
    ADD CONSTRAINT "ForumSubscription_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ForumTopic ForumTopic_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumTopic"
    ADD CONSTRAINT "ForumTopic_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ForumTopic ForumTopic_boardId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ForumTopic"
    ADD CONSTRAINT "ForumTopic_boardId_fkey" FOREIGN KEY ("boardId") REFERENCES public."ForumBoard"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GamificationProfile GamificationProfile_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GamificationProfile"
    ADD CONSTRAINT "GamificationProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GroupMember GroupMember_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GroupMember"
    ADD CONSTRAINT "GroupMember_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."StudyGroup"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GroupMember GroupMember_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GroupMember"
    ADD CONSTRAINT "GroupMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GroupMessage GroupMessage_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GroupMessage"
    ADD CONSTRAINT "GroupMessage_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."StudyGroup"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GroupMessage GroupMessage_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."GroupMessage"
    ADD CONSTRAINT "GroupMessage_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Job Job_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Job"
    ADD CONSTRAINT "Job_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MentorProfile MentorProfile_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MentorProfile"
    ADD CONSTRAINT "MentorProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MentorshipRequest MentorshipRequest_menteeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MentorshipRequest"
    ADD CONSTRAINT "MentorshipRequest_menteeId_fkey" FOREIGN KEY ("menteeId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MentorshipRequest MentorshipRequest_mentorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MentorshipRequest"
    ADD CONSTRAINT "MentorshipRequest_mentorId_fkey" FOREIGN KEY ("mentorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Purchase Purchase_buyerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_buyerId_fkey" FOREIGN KEY ("buyerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Purchase Purchase_resourceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_resourceId_fkey" FOREIGN KEY ("resourceId") REFERENCES public."Resource"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ResourceFavorite ResourceFavorite_resourceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ResourceFavorite"
    ADD CONSTRAINT "ResourceFavorite_resourceId_fkey" FOREIGN KEY ("resourceId") REFERENCES public."Resource"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ResourceFavorite ResourceFavorite_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ResourceFavorite"
    ADD CONSTRAINT "ResourceFavorite_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ResourceReview ResourceReview_resourceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ResourceReview"
    ADD CONSTRAINT "ResourceReview_resourceId_fkey" FOREIGN KEY ("resourceId") REFERENCES public."Resource"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ResourceReview ResourceReview_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ResourceReview"
    ADD CONSTRAINT "ResourceReview_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Resource Resource_contributorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Resource"
    ADD CONSTRAINT "Resource_contributorId_fkey" FOREIGN KEY ("contributorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Resume Resume_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Resume"
    ADD CONSTRAINT "Resume_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Scholarship Scholarship_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Scholarship"
    ADD CONSTRAINT "Scholarship_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StudyGroup StudyGroup_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudyGroup"
    ADD CONSTRAINT "StudyGroup_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StudyLog StudyLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudyLog"
    ADD CONSTRAINT "StudyLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Subscription Subscription_planId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_planId_fkey" FOREIGN KEY ("planId") REFERENCES public."Plan"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Subscription Subscription_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserAchievement UserAchievement_achievementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserAchievement"
    ADD CONSTRAINT "UserAchievement_achievementId_fkey" FOREIGN KEY ("achievementId") REFERENCES public."Achievement"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserAchievement UserAchievement_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserAchievement"
    ADD CONSTRAINT "UserAchievement_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserSettings UserSettings_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserSettings"
    ADD CONSTRAINT "UserSettings_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict jMEnFiLsMgzBmirG9svZorDx6KazV5jxgfsXFM6XTUpMpfq4NVw68wKiQEiFr9Q

